absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
emoji
filelock
Flask
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
pandas
protobuf
pyenchant
Pygments
PySocks
python-crfsuite
python-dateutil
pytz
pyvi
regex
requests
rich
scikit-learn
scipy
setuptools
six
sklearn-crfsuite
soupsieve
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
